
*.cache
dxf_reader_viewer/obj/Debug/dxf_reader_viewer.csproj.FileListAbsolute.txt
dxf_reader_viewer/obj/Debug/dxf_reader_viewer.exe
dxf_reader_viewer/obj/Debug/dxf_reader_viewer.main_form.resources
dxf_reader_viewer/obj/Debug/dxf_reader_viewer.pdb
dxf_reader_viewer/obj/Debug/dxf_reader_viewer.Properties.Resources.resources
dxf_reader_viewer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
dxf_reader_viewer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
dxf_reader_viewer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
dxf_reader_viewer/bin/Debug/dxf_reader_viewer.exe
dxf_reader_viewer/bin/Debug/dxf_reader_viewer.exe.config
dxf_reader_viewer/bin/Debug/dxf_reader_viewer.pdb
dxf_reader_viewer/.vs/dxf_reader_viewer/v15/Server/sqlite3/db.lock
dxf_reader_viewer/.vs/dxf_reader_viewer/v15/Server/sqlite3/storage.ide
dxf_reader_viewer/.vs/dxf_reader_viewer/v15/Server/sqlite3/storage.ide-shm
dxf_reader_viewer/.vs/dxf_reader_viewer/v15/Server/sqlite3/storage.ide-wal
dxf_reader_viewer/.vs/dxf_reader_viewer/v15/.suo
